#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include "../app/zmk-helpers/include/zmk-helpers/helper.h"
#include "../config/defines.h"

// QWERTY-style layers for gaming
// Optimized for left-hand split

ZMK_LAYER(gaming_1,
// ┌─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┐
     &kp ESCAPE            &kp NUMBER_1          &kp NUMBER_2          &kp NUMBER_3          &kp NUMBER_4          &kp NUMBER_5                            &kp NUMBER_6          &kp NUMBER_7          &kp NUMBER_8          &kp NUMBER_9          &kp NUMBER_0          &kp GRAVE            
// ├─────────────────────┼─────────────────────┼─────────────────────┼─────────────────────┼─────────────────────┼─────────────────────┼─────────────────┼─────────────────────┼─────────────────────┼─────────────────────┼─────────────────────┼─────────────────────┼─────────────────────┤
     &kp TAB               &kp Q                 &kp W                 &kp E                 &kp R                 &kp T                                   &kp Y                 &kp U                 &kp I                 &kp O                 &kp P                 &kp DELETE           
// ├─────────────────────┼─────────────────────┼─────────────────────┼─────────────────────┼─────────────────────┼─────────────────────┼────────┬────────┼─────────────────────┼─────────────────────┼─────────────────────┼─────────────────────┼─────────────────────┼─────────────────────┤
     &sl L_GAME_2          &kp A                 &kp S                 &kp D                 &kp F                 &kp G                 &none    &none    &kp H                 &kp J                 &kp K                 &kp L                 &kp SEMICOLON         &kp ENTER            
// ├─────────────────────┼─────────────────────┼─────────────────────┼─────────────────────┼─────────────────────┼─────────────────────┼────────┴────────┼─────────────────────┼─────────────────────┼─────────────────────┼─────────────────────┼─────────────────────┼─────────────────────┤
     &kp LEFT_SHIFT        &kp Z                 &kp X                 &kp C                 &kp V                 &kp B                                   &kp N                 &kp M                 &kp COMMA             &kp PERIOD            &kp SLASH             &kp RIGHT_SHIFT      
// ├─────────────────────┴─────────────────────┴─────────────────────┴─────────────────────┼─────────────────────┼─────────────────────┼─────────────────┼─────────────────────┼─────────────────────┼─────────────────────┼─────────────────────┼─────────────────────┴─────────────────────┤
                                                 &kp LEFT_GUI          &kp LEFT_CONTROL      &kp LEFT_ALT          &kp SPACE                               &sk RIGHT_SHIFT       &kp BACKSPACE         &to L_CONTROL         &to L_BASE                                                       
// └───────────────────────────────────────────┴─────────────────────┴─────────────────────┴─────────────────────┴─────────────────────┴─────────────────┴─────────────────────┴─────────────────────┴─────────────────────┴─────────────────────┴───────────────────────────────────────────┘
)

ZMK_LAYER(gaming_2,
// ┌─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┐
     &trans                &trans                &trans                &trans                &trans                &trans                                  &trans                &trans                &trans                &trans                &trans                &trans                
// ├─────────────────────┼─────────────────────┼─────────────────────┼─────────────────────┼─────────────────────┼─────────────────────┼─────────────────┼─────────────────────┼─────────────────────┼─────────────────────┼─────────────────────┼─────────────────────┼─────────────────────┤
     &trans                &kp Y                 &kp U                 &kp I                 &kp O                 &kp P                                   &none                 &none                 &none                 &none                 &none                 &trans               
// ├─────────────────────┼─────────────────────┼─────────────────────┼─────────────────────┼─────────────────────┼─────────────────────┼────────┬────────┼─────────────────────┼─────────────────────┼─────────────────────┼─────────────────────┼─────────────────────┼─────────────────────┤
     &sl L_GAME_3          &kp H                 &kp J                 &kp K                 &kp L                 &kp SEMICOLON         &none    &none    &none                 &none                 &none                 &none                 &none                 &trans               
// ├─────────────────────┼─────────────────────┼─────────────────────┼─────────────────────┼─────────────────────┼─────────────────────┼────────┴────────┼─────────────────────┼─────────────────────┼─────────────────────┼─────────────────────┼─────────────────────┼─────────────────────┤
     &trans                &kp N                 &kp M                 &kp COMMA             &kp PERIOD            &kp SLASH                               &none                 &none                 &none                 &none                 &none                 &trans               
// ├─────────────────────┴─────────────────────┴─────────────────────┴─────────────────────┼─────────────────────┼─────────────────────┼─────────────────┼─────────────────────┼─────────────────────┼─────────────────────┼─────────────────────┼─────────────────────┴─────────────────────┤
                                                 &to L_BASE            &to L_GAME_ALT        &trans                &trans                                  &trans                &trans                &trans                &trans                                                           
// └───────────────────────────────────────────┴─────────────────────┴─────────────────────┴─────────────────────┴─────────────────────┴─────────────────┴─────────────────────┴─────────────────────┴─────────────────────┴─────────────────────┴───────────────────────────────────────────┘
)


ZMK_LAYER(gaming_3,
// ┌─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┐
     &trans                &trans                &trans                &trans                &trans                &trans                                  &trans                &trans                &trans                &trans                &trans                &trans                
// ├─────────────────────┼─────────────────────┼─────────────────────┼─────────────────────┼─────────────────────┼─────────────────────┼─────────────────┼─────────────────────┼─────────────────────┼─────────────────────┼─────────────────────┼─────────────────────┼─────────────────────┤
     &trans                &kp F12               &kp NUMBER_1          &kp NUMBER_2          &kp NUMBER_3          &kp PRINTSCREEN                         &none                 &none                 &none                 &none                 &none                 &trans               
// ├─────────────────────┼─────────────────────┼─────────────────────┼─────────────────────┼─────────────────────┼─────────────────────┼────────┬────────┼─────────────────────┼─────────────────────┼─────────────────────┼─────────────────────┼─────────────────────┼─────────────────────┤
     &to L_GAME_1          &kp NUMBER_0          &kp NUMBER_4          &kp NUMBER_5          &kp NUMBER_6          &kp SEMICOLON         &none    &none    &none                 &none                 &none                 &none                 &none                 &trans               
// ├─────────────────────┼─────────────────────┼─────────────────────┼─────────────────────┼─────────────────────┼─────────────────────┼────────┴────────┼─────────────────────┼─────────────────────┼─────────────────────┼─────────────────────┼─────────────────────┼─────────────────────┤
     &trans                &kp RETURN            &kp NUMBER_7          &kp NUMBER_8          &kp NUMBER_9          &kp BACKSPACE                           &none                 &none                 &none                 &none                 &none                 &trans               
// ├─────────────────────┴─────────────────────┴─────────────────────┴─────────────────────┼─────────────────────┼─────────────────────┼─────────────────┼─────────────────────┼─────────────────────┼─────────────────────┼─────────────────────┼─────────────────────┴─────────────────────┤
                                                 &to L_BASE            &to L_GAME_ALT        &trans                &trans                                  &trans                &trans                &trans                &trans                                                           
// └───────────────────────────────────────────┴─────────────────────┴─────────────────────┴─────────────────────┴─────────────────────┴─────────────────┴─────────────────────┴─────────────────────┴─────────────────────┴─────────────────────┴───────────────────────────────────────────┘
)

ZMK_LAYER(gaming_alt,
// ┌─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┐
     &trans                &trans                &trans                &trans                &trans                &trans                                  &trans                &trans                &trans                &trans                &trans                &trans                
// ├─────────────────────┼─────────────────────┼─────────────────────┼─────────────────────┼─────────────────────┼─────────────────────┼─────────────────┼─────────────────────┼─────────────────────┼─────────────────────┼─────────────────────┼─────────────────────┼─────────────────────┤
     &trans                &trans                &kp UP_ARROW          &trans                &trans                &trans                                  &trans                &trans                &trans                &trans                &trans                &trans               
// ├─────────────────────┼─────────────────────┼─────────────────────┼─────────────────────┼─────────────────────┼─────────────────────┼────────┬────────┼─────────────────────┼─────────────────────┼─────────────────────┼─────────────────────┼─────────────────────┼─────────────────────┤
     &to L_GAME_1          &kp LEFT_ARROW        &kp DOWN_ARROW        &kp RIGHT_ARROW       &trans                &trans                &trans   &trans   &trans                &trans                &trans                &trans                &trans                &trans               
// ├─────────────────────┼─────────────────────┼─────────────────────┼─────────────────────┼─────────────────────┼─────────────────────┼────────┴────────┼─────────────────────┼─────────────────────┼─────────────────────┼─────────────────────┼─────────────────────┼─────────────────────┤
     &trans                &trans                &trans                &trans                &trans                &trans                                  &trans                &trans                &trans                &trans                &trans                &trans               
// ├─────────────────────┴─────────────────────┴─────────────────────┴─────────────────────┼─────────────────────┼─────────────────────┼─────────────────┼─────────────────────┼─────────────────────┼─────────────────────┼─────────────────────┼─────────────────────┴─────────────────────┤
                                                 &trans                &trans                &trans                &trans                                  &trans                &trans                &trans                &trans                                                           
// └───────────────────────────────────────────┴─────────────────────┴─────────────────────┴─────────────────────┴─────────────────────┴─────────────────┴─────────────────────┴─────────────────────┴─────────────────────┴─────────────────────┴───────────────────────────────────────────┘
)

